@charset "UTF-8";

html {
    background-color: rgb(243, 246, 255)
}

body {
    background-color: rgb(246, 246, 255);
    max-width: 980px;
    margin: auto;


}

.header_not {
    background-color:  rgb(64, 120, 231);
    padding: 20px 0;
  
}

.titulo_not {

    color: white;
    font-size: 4rem;
   
}

.navbar-primary {
    background-color: rgb(254, 254, 255);
}

.navbar2 {
    background-color: rgb(251, 201, 55);
    font-weight: bold; /* Pode usar font-weight, cor de fundo, etc. para destacar */
    color: #252525;

}




h1 {
    color: rgb(46, 81, 149);
    ;
}

h2 {
    color: rgb(46, 81, 149);
}

h3 {
    color: rgb(46, 81, 149);
}

h4 {
    color: rgb(46, 81, 149);
}




main img {
    width: 100%;

    height: auto;





}

section img {
    width: 70%;

    height: auto;


}


section h5 {
    text-align: center;
    margin-top: 10px;

}

section a {
    text-decoration: none;
    color: rgb(46, 81, 149);
}

footer {
    background-color:rgb(64, 120, 231); 
    color: white; 
    padding: 20px;
}


.nomes small {
    color: white;
}


