@charset "UTF-8";
html {
    background-color: gray;
}

body {
    max-width: 980px;
    margin: auto;
}
.header_hist {
    background-color: #990F12;
    padding: 20px 0;
  
}
.titulo_hist {

    color: black;
    font-size: 4rem;
   
}
.navbar-primary-hist {
    background-color: #666315;
    color: #FFFFFF;
}
.navbar2-hist {
    background-color: #593816;
    color: #FFFFFF;
}
header, footer {
    background-color: azure;        
}

article {
    margin: auto;
}

a{text-decoration: none;}


header h1{    
    font-size: 4rem;
    color: blueviolet;    
}

article {
    background-color: aliceblue;
}

article p {
    padding: 0rem 0.5rem;
}

.h3-historia{
    background-color: #261526;
    color: antiquewhite;
    margin-top: 20px;
    margin-left: 240px;
    max-width: 50%;
    margin: auto;
    
}
.left-historia{padding: 10px;}
.align{
    padding: 10px;
    text-align: left;
}
.article-historia{margin-top: 20px;}
.top-historia{margin-top: 30px;}
figcaption{
    background-color: #261526;
    color: antiquewhite;
}

@media screen and (max-width: 320px) {
    figcaption{
        max-width: 100%;
    }
}