@charset "UTF-8";
html {
    background-color: gray;
}

body {
    max-width: 980px;
    margin: auto;
}

header, footer {
    background-color: azure;        
}

article {
    margin: auto;
}

header h1{    
    font-size: 4rem;
    color: blueviolet;    
}

article {
    background-color: aliceblue;
}

article p {
    padding: 0rem 0.5rem;
}
.titulo-lucia{
    font-size: 4rem;
    color: rgb(204, 65, 149);    
}

.fundo-lucia{
    background-color: rgb(167, 87, 141);
}
.center-lucia{
    color: rgb(255, 255, 255);
    
}
.nav-lucia{
    color: rgb(150, 134, 148);
    
}

