
.titulo_tur{
    font-size: 4rem;
    color: white;  
    
}
.paragrafo_tur{
    color:black;
    margin-left: 50px;
    margin-right: 50px;
 }

.menu_tur a{
    text-decoration: none;
    color: white;
    padding: 5px 65px;
    margin: 0px 0px 0px 120px;
    background-color: #985C9E;
}
.img_tur{
    margin-top: 40px;
}
.img_tur1{
    margin-top: 20px;
}
.cor_tur{
    background-color:  #EAB4F0 ;
}

