@charset "UTF-8";
html {
    background-color: gray;
}

body {
    max-width: 980px;
    margin: auto;
}

header, footer {
    background-color: azure;        
}
a{
    text-decoration: none;
    color: black;
}
article {
    margin: auto;
}

header h1{    
    font-size: 4rem;
    color: blueviolet;    
}

article {
    background-color: aliceblue;
}

article p {
    padding: 0rem 0.5rem;
}

table {
    border: 2px solid #000; /* Define a cor e a largura da borda */
    border-collapse: collapse; /* Colapsa as bordas para um visual mais consistente */
    width: 100%;
  }

  /* Estilo das células da tabela */
  th, td {
    border: 1px solid #000; /* Define a cor e a largura da borda */
    padding: 8px; /* Adiciona um espaçamento interno às células */
    text-align: left;
  }

.h3-link{
    background-color: #985C9E;
    max-width: 30%;
    margin-top: 20px;
}

.h3-link:hover{background-color: #d18bd7;}

.form-nome{width: 75%;}
.form-email{width: 50%;}
.form-telefone{width: 50%;}
.text-area{width: 75%;}

